.tourList {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .tourList {
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 8px;
  }
}
